<a href="https://colab.research.google.com/github/RDLL/curso_mineria_de_datos/blob/main/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Preprocesamiento de Datos
## Tarea 1 
## Datos faltantes

Cargamos la librería pandas y la nombramos como pd

**Importante cargar el archivo a trabajar en google colab**

In [89]:
import pandas as pd

Creamos la variable df y le pasamos el dataset

In [133]:
df= pd.read_csv('https://pkgstore.datahub.io/machine-learning/cervical-cancer/cervical-cancer_csv/data/c43a91f09832cd9db8db84df08c942dc/cervical-cancer_csv.csv')

Mostramos las primeras 10 columnas

In [149]:
df.head(n=10)

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs:HPV,STDs: Number of diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
2,34,1.0,NaN,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.000000,37.0,1.0,3.0,0.0,...,0.0,0,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.000000,0.0,1.0,15.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
5,42,3.0,23.0,2.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
6,51,3.0,17.0,6.0,1.0,34.000000,3.4,0.0,0.0,1.0,...,0.0,0,0,0,0,0,1,1,0,1
7,26,1.0,26.0,3.0,0.0,0.000000,0.0,1.0,2.0,1.0,...,0.0,0,0,0,0,0,0,0,0,0
8,45,1.0,20.0,5.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,1,0,1,1,0,0,0,0
9,44,3.0,15.0,NaN,1.0,1.266973,2.8,0.0,0.0,NaN,...,0.0,0,0,0,0,0,0,0,0,0

Reemplazamos los valores numericos `0,1,2,3 y 4` de la columna `STDs (number)`

con `"muy bajo", "bajo", "medio", "alto" y "muy alto"`

In [150]:
df["STDs (number)"]=df["STDs (number)"].replace([0,1,2,3,4],["muy bajo","bajo","medio","alto","muy alto"])

In [151]:
df["STDs (number)"]

0      muy bajo
1      muy bajo
2      muy bajo
3      muy bajo
4      muy bajo
         ...
830    muy bajo
831    muy bajo
832    muy bajo
833    muy bajo
834    muy bajo
Name: STDs (number), Length: 822, dtype: object

Obtener porcentaje de faltantes

In [137]:
def faltantes(data):
  ft = data.isnull().sum(min_count=1)
  ft = ft[ft != 0].to_dict()
  return ft

In [156]:
vfal = faltantes(df)
print(vfal)
porcentajes = vfal
for clave in vfal:
  porcentajes[clave] = (vfal[clave]/df.shape[0]) * 100
print(porcentajes)

{'Number of sexual partners': 25, 'First sexual intercourse': 7, 'Num of pregnancies': 56, 'Hormonal Contraceptives': 98, 'Hormonal Contraceptives (years)': 98, 'IUD': 108, 'IUD (years)': 108, 'STDs': 97, 'STDs (number)': 97, 'STDs:condylomatosis': 97, 'STDs:cervical condylomatosis': 97, 'STDs:vaginal condylomatosis': 97, 'STDs:vulvo-perineal condylomatosis': 97, 'STDs:syphilis': 97, 'STDs:pelvic inflammatory disease': 97, 'STDs:genital herpes': 97, 'STDs:molluscum contagiosum': 97, 'STDs:AIDS': 97, 'STDs:HIV': 97, 'STDs:Hepatitis B': 97, 'STDs:HPV': 97}
{'Number of sexual partners': 3.0413625304136254, 'First sexual intercourse': 0.851581508515815, 'Num of pregnancies': 6.81265206812652, 'Hormonal Contraceptives': 11.922141119221411, 'Hormonal Contraceptives (years)': 11.922141119221411, 'IUD': 13.138686131386862, 'IUD (years)': 13.138686131386862, 'STDs': 11.800486618004866, 'STDs (number)': 11.800486618004866, 'STDs:condylomatosis': 11.800486618004866, 'STDs:cervical condylomatosis': 11.800486618004866, 'STDs:vaginal condylomatosis': 11.800486618004866, 'STDs:vulvo-perineal condylomatosis': 11.800486618004866, 'STDs:syphilis': 11.800486618004866, 'STDs:pelvic inflammatory disease': 11.800486618004866, 'STDs:genital herpes': 11.800486618004866, 'STDs:molluscum contagiosum': 11.800486618004866, 'STDs:AIDS': 11.800486618004866, 'STDs:HIV': 11.800486618004866, 'STDs:Hepatitis B': 11.800486618004866, 'STDs:HPV': 11.800486618004866}

Eliminacion de registros nulos en 'Smokes'

In [157]:
df = df.dropna(subset=["Smokes"])
compf = faltantes(df)
print(compf)

{'Number of sexual partners': 25, 'First sexual intercourse': 7, 'Num of pregnancies': 56, 'Hormonal Contraceptives': 98, 'Hormonal Contraceptives (years)': 98, 'IUD': 108, 'IUD (years)': 108, 'STDs': 97, 'STDs (number)': 97, 'STDs:condylomatosis': 97, 'STDs:cervical condylomatosis': 97, 'STDs:vaginal condylomatosis': 97, 'STDs:vulvo-perineal condylomatosis': 97, 'STDs:syphilis': 97, 'STDs:pelvic inflammatory disease': 97, 'STDs:genital herpes': 97, 'STDs:molluscum contagiosum': 97, 'STDs:AIDS': 97, 'STDs:HIV': 97, 'STDs:Hepatitis B': 97, 'STDs:HPV': 97}

Eliminacion de columnas con mas de 30% de valores nulos

In [166]:
for clave in porcentajes:
  if porcentajes[clave] > 30:
    del vfal[clave]
    df = df.drop([clave],axis = 1)
print(df.dtypes)

Age                                     int64
Number of sexual partners             float64
First sexual intercourse              float64
Num of pregnancies                    float64
Smokes                                float64
Smokes (years)                        float64
Smokes (packs/year)                   float64
Hormonal Contraceptives               float64
Hormonal Contraceptives (years)       float64
IUD                                   float64
IUD (years)                           float64
STDs                                  float64
STDs (number)                          object
STDs:condylomatosis                   float64
STDs:cervical condylomatosis          float64
STDs:vaginal condylomatosis           float64
STDs:vulvo-perineal condylomatosis    float64
STDs:syphilis                         float64
STDs:pelvic inflammatory disease      float64
STDs:genital herpes                   float64
STDs:molluscum contagiosum            float64
STDs:AIDS                             float64
STDs:HIV                              float64
STDs:Hepatitis B                      float64
STDs:HPV                              float64
STDs: Number of diagnosis               int64
Dx:Cancer                               int64
Dx:CIN                                  int64
Dx:HPV                                  int64
Dx                                      int64
Hinselmann                              int64
Schiller                                int64
Citology                                int64
Biopsy                                  int64
dtype: object

Obtener la media aritmetica y remplazar los valores nulo con la media de las columnas numericas

In [173]:
means = df.mean(numeric_only=True).to_dict()

df = df.fillna(means)

print(faltantes(df))

{'STDs (number)': 97}

Reemplazar los valores de la columna categorica por la moda de dicha columna

In [194]:
moda = str(df["STDs (number)"].mode())
df["STDs (number)"]=df["STDs (number)"].replace(["muy bajo","bajo","medio","alto","muy alto"],moda)
print(faltantes(df))
#La categorica la sigue marcando como si tuviera valores nulos
df.head(n=15)

{'STDs (number)': 97}

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs:HPV,STDs: Number of diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
1,15,1.0,14.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
2,34,1.0,17.022086,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
3,52,5.0,16.000000,4.000000,1.0,37.000000,37.0,1.0,3.0,0.000000,...,0.0,0,1,0,1,0,0,0,0,0
4,46,3.0,21.000000,4.000000,0.0,0.000000,0.0,1.0,15.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
5,42,3.0,23.000000,2.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
6,51,3.0,17.000000,6.000000,1.0,34.000000,3.4,0.0,0.0,1.000000,...,0.0,0,0,0,0,0,1,1,0,1
7,26,1.0,26.000000,3.000000,0.0,0.000000,0.0,1.0,2.0,1.000000,...,0.0,0,0,0,0,0,0,0,0,0
8,45,1.0,20.000000,5.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0,1,0,1,1,0,0,0,0
9,44,3.0,15.000000,2.310705,1.0,1.266973,2.8,0.0,0.0,0.113445,...,0.0,0,0,0,0,0,0,0,0,0
10,44,3.0,26.000000,4.000000,0.0,0.000000,0.0,1.0,2.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
11,27,1.0,17.000000,3.000000,0.0,0.000000,0.0,1.0,8.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
12,45,4.0,14.000000,6.000000,0.0,0.000000,0.0,1.0,10.0,1.000000,...,0.0,0,0,0,0,0,0,0,0,0
13,44,2.0,25.000000,2.000000,0.0,0.000000,0.0,1.0,5.0,0.000000,...,0.0,0,0,0,0,0,0,0,0,0
14,43,2.0,18.000000,5.000000,0.0,0.000000,0.0,0.0,0.0,1.000000,...,0.0,0,0,0,0,0,0,0,0,0

Interpolacion

In [199]:
df= pd.read_csv('https://pkgstore.datahub.io/machine-learning/cervical-cancer/cervical-cancer_csv/data/c43a91f09832cd9db8db84df08c942dc/cervical-cancer_csv.csv')
df.head(n=15)

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,34,1.0,NaN,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.000000,37.0,1.0,3.0,0.0,...,NaN,NaN,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.000000,0.0,1.0,15.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
5,42,3.0,23.0,2.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
6,51,3.0,17.0,6.0,1.0,34.000000,3.4,0.0,0.0,1.0,...,NaN,NaN,0,0,0,0,1,1,0,1
7,26,1.0,26.0,3.0,0.0,0.000000,0.0,1.0,2.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0
8,45,1.0,20.0,5.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,1,0,1,1,0,0,0,0
9,44,3.0,15.0,NaN,1.0,1.266973,2.8,0.0,0.0,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
10,44,3.0,26.0,4.0,0.0,0.000000,0.0,1.0,2.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
11,27,1.0,17.0,3.0,0.0,0.000000,0.0,1.0,8.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
12,45,4.0,14.0,6.0,0.0,0.000000,0.0,1.0,10.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0
13,44,2.0,25.0,2.0,0.0,0.000000,0.0,1.0,5.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
14,43,2.0,18.0,5.0,0.0,0.000000,0.0,0.0,0.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0

In [200]:
newdf = df.interpolate()
newdf.head(n=15)

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,34,1.0,15.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.000000,37.0,1.0,3.0,0.0,...,NaN,NaN,1,0,1,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.000000,0.0,1.0,15.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
5,42,3.0,23.0,2.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
6,51,3.0,17.0,6.0,1.0,34.000000,3.4,0.0,0.0,1.0,...,NaN,NaN,0,0,0,0,1,1,0,1
7,26,1.0,26.0,3.0,0.0,0.000000,0.0,1.0,2.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0
8,45,1.0,20.0,5.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,1,0,1,1,0,0,0,0
9,44,3.0,15.0,4.5,1.0,1.266973,2.8,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
10,44,3.0,26.0,4.0,0.0,0.000000,0.0,1.0,2.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
11,27,1.0,17.0,3.0,0.0,0.000000,0.0,1.0,8.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
12,45,4.0,14.0,6.0,0.0,0.000000,0.0,1.0,10.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0
13,44,2.0,25.0,2.0,0.0,0.000000,0.0,1.0,5.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
14,43,2.0,18.0,5.0,0.0,0.000000,0.0,0.0,0.0,1.0,...,NaN,NaN,0,0,0,0,0,0,0,0

Parece que al tener bastantes valores nulos en las columnas `STDs: Time since first diagnosis` y `STDs: Time since last diagnosis` estos se mantienen asi