<a href="https://colab.research.google.com/github/RDLL/curso_mineria_de_datos/blob/main/Tarea3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Preprocesamiento de Datos
## Tarea 3 
## Análisis de Correlación

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/RDLL/curso_mineria_de_datos/main/2021_10_EstMeteorologica.csv', sep=';')
df.head(n=10)

,No,Date,Time,ColdJunc0,PowerVolt,PowerKind,WS(ave),WD(ave),WS(max),WD(most),WS(inst_m),WD(inst_m),Max_time,Solar_rad,TEMP,Humidity,Rainfall,Bar_press.,Soil_temp
0,92793,1/10/2021,0:00:00,"22,6",13,2,"0,4",19,"0,9",NE,"1,9",43,23:50:41,0,"22,5","82,39",0,1000,0
1,92794,1/10/2021,0:10:00,"22,5",13,2,1,131,1,ESE,"4,3",161,0:04:57,0,"22,3","84,09",0,1000,0
2,92795,1/10/2021,0:20:00,"22,5",13,2,"0,8",166,1,ESE,"3,7",145,0:13:00,0,"22,7","81,99",0,1000,0
3,92796,1/10/2021,0:30:00,"22,5",13,2,"0,7",205,"0,8",WSW,"3,1",160,0:25:55,0,"22,2","84,29",0,1000,0
4,92797,1/10/2021,0:40:00,"22,5","12,9",2,"0,6",134,"0,7",E,"4,3",121,0:35:35,0,"21,8","87,9",0,"999,7",0
5,92798,1/10/2021,0:50:00,"22,4",13,2,"0,2",124,"0,6",SSE,"1,9",51,0:47:12,0,"21,6","89,4",0,"999,6",0
6,92799,1/10/2021,1:00:00,"22,2",13,2,"0,8",7,"0,8",NNE,"2,5",54,0:51:29,0,"21,5","90,2",0,"999,2",0
7,92800,1/10/2021,1:10:00,"22,1","12,9",2,"0,9",52,"0,9",NE,"5,5",291,1:09:59,0,"21,4","91,1",0,"999,1",0
8,92801,1/10/2021,1:20:00,22,"12,9",2,"0,9",206,"1,1",SSW,"5,5",215,1:11:09,0,"21,2","92,6",0,"999,1",0
9,92802,1/10/2021,1:30:00,"21,9",13,2,"0,6",152,"0,9",SE,"3,7",145,1:20:30,0,"21,2","93,6",0,"999,1",0